* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

/* footer style */
footer {
  width: 1320px;
  height: fit-content;
  background-color: rgb(239, 239, 252);
  margin: 0px auto;
}

footer section {
  width: 1320px;
  margin: 0px auto;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.about > div {
  flex: 1;
  padding: 10px;
}

.about p {
  color: gray;
}

.categories {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  white-space: nowrap;
}

.subcategory {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Payment section */
.payment-bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0% 1%;
}

.payment-bar div {
  padding: 1%;
}

.payment-bar div img {
  margin: 0px auto;
  padding-left: 2%;
}

.social-bar {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  color: gray;
  padding: 1%;
  padding-top: 1%;
}

/* Mobile css */
@media screen and (max-width: 740px) {
  .about > div {
    min-width: 45%;
  }

  .about .categories {
    min-width: 100%;
  }

  .subcategory div {
    min-width: 50%;
  }

  .payment-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
