* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

/* sign up style */
.sign-up {
  width: 1320px;
  height: fit-content;
  background: rgba(0, 30, 43, 1) url("../../../../public/Images/pattern.svg")
    no-repeat;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.sign-up h3 {
  color: #fff;
}

.sign-up p {
  margin: 10px 0;
  color: grey;
}

.sign-up p:first-child {
  color: #fff;
}

.sign-up input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

#signup {
  background-color: rgb(37, 218, 37);
  padding: 5px;
  border-radius: 5px;
  border: none;
}

/* mobile css */
@media screen and (max-width: 740px) {
  .sign-up {
    background: rgba(0, 30, 43, 1) url("../../../../public/Images/pattern.svg")
      repeat;
    padding: 10px;
    padding-bottom: 0px;
  }
}
