#infopage {
  width: 1320px;
  margin: auto;
  padding: 1%;
  margin-bottom: 2%;
}

.navbar {
  position: relative;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 1%;
}

.navbar li {
  position: relative;
}

.navbar a {
  padding: 20px;
  text-decoration: none;
  padding-left: 0;
  position: relative;
  font-size: 16px;
  color: #000;
}

.navbar a:hover {
  color: green;
}

.nav-link {
  position: relative;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: green;
  bottom: 1px;
  left: 0;
  transform-origin: right;
  transition: width 0.3s;
}

.nav-link::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* table style */
.table-container {
  float: left;
  width: 45%;
  margin: 2%;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

.table-container tr,
td {
  height: 50px;
  border: 0;
}

.table-container tr:nth-child(odd) {
  background-color: rgb(220, 231, 241);
}

.table-container td {
  padding-left: 5%;
}

#product_detail p {
  margin-top: 5px;
  font-size: 15px;
  color: rgb(32, 31, 31);
}

#product_detail h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: rgb(32, 31, 31);
}

/* setting to defaults */
.clear {
  clear: both;
}

.segment {
  text-align: left;
}